# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/yarn.lock
yarn.lock
package-lock.json


# testing
/coverage

# next.js
/.next/
/out/
/out_functions
/out_publish

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# local env files
.env.local
yarn.lock
.husky
